**/node_modules
**/dist
**/.vite
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
**/.env
**/.env.*
to_delete
data-pipeline
.git
.gitignore
.github
**/.DS_Store
**/*.log
npm-debug.log*
**/.idea
**/.vscode
Dockerfile
.dockerignore
README.md
